<div class="container-fluid">

  <div>
    <button (click)="loadData()">Load Datas</button>
    <hr>
    <button (click) = "loadMap()">Load Map</button>
    <hr>
  </div>
    
  <div>
    <div>
      <ul>
        <li *ngFor="let data of vehicleList">
          {{data.latitude}},
          {{data.longitude}}
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div>
    <ejs-maps [layers]='layers' [zoomSettings]='zoomSettings' [centerPosition]='centerPosition'>
      <e-layers>
        <e-layer [layerType] = 'layerType'
        [markerSettings]='markerSettings' 
        [navigationLineSettings]='navigationLineSettings'
        [dataLabelSettings] = 'dataLabelSettings'></e-layer>
      </e-layers>
    </ejs-maps>
  </div>
  
</div>

